*
{
	margin: 0;
	padding: 0;
}
body
{
	background: #F7F8FA;
	font-family: Lato;
}

input[type=button]
{
    background: #42B653;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 11px;
    font-family: Lato;
    padding: 10px 20px;
    margin: auto 3em;
    border-bottom: 2px solid #298266;
}
input[type=button]:hover
{
	background: #42B653;
}
input[type=button]:active
{
	background: #298266;
}

.panels {
    display: flex;
}

.errors {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
    z-index: 10;
    padding: 20px;
    color: white;
    background: red;

}

.leftPane {
    width: 100%;
    margin: auto;
}

.rightPane {
    display: flex;
    flex-direction: column;
    flex: 0;
    min-width: 270px;
}

.loaderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%!important;
    background: rgba(0,0,0, 0.7 );
    margin: auto;
    height: 0;
    float: left;
    z-index: 99;
}

.blur {
    filter: blur(20px);
}

.loaderContainer figure {
    position: relative;
    margin: auto;
    top: 300px;
}

.sideMenu
{
    width: 100%;
    height: 100%;
    background: #F7F8FA;
    //	position: fixed;
    float: left;
    z-index: 99;
    left: 0;
}
.sideMenu li
{
    width: 217px;
    display: flex;
    color: #A09F9D;
    list-style: none;
    font-family: Lato;
    font-weight: bold;
    padding: 10px 20px;

    transition: .1s all ease;
}

.sideMenu ul
{
    margin: 10px auto;
}

.sideMenu ul:first-child
{
    margin: 70px auto 0px;
}

.title i
{
    position: absolute;
    margin: 2px auto 0;
    right: -5px;
    color:  #A09F9D;
}
a
{
    text-decoration: none;
    color: #A09F9D;
}
.title
{
    font-size: 14px;
    color: #42B653;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
}
.title:hover
{
	background: transparent;
}
.sideMenu li:hover
{

	background: #42B653;
	color: #fff;
}
.sideMenu li:hover i
{
	color: #fff;
}
.sideMenu i
{
	margin-right: 20px;
}

.tools
{
    display: flex;
    flex-wrap:wrap;
    height: 65px;
    background: #fff;
    border-bottom: 1px solid #EBECEB;
    position: relative;
}
.tools li
{
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    font-family: Arial;
    font-weight: bold;
    padding: 0px 10px;
    margin-right: 10px;
    transition: .1s ease all;
}
.tools li.active
{
	border-bottom: 2px solid #42B653;
	color: rgba(0,0,0,0.7);
}
.tools ul
{
    width: 100%;
    margin-left: 35px;
    line-height: 4;
}

.tools ul:last-of-kind {
    flex: 0;
}

.subs {
    margin: 0px auto;
    padding: 17px 0px;
    height: 66px;
    background: #fff;
    border-left: 1px solid #EBECEB;
    border-bottom: 1px solid #EBECEB;

}

.subs
{
    display: flex;
}

.subs input[type=button] {
    flex: 0;
//	margin: 17px;
}

.sub {
    flex: 2;
    color: #A09F9D;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
.sub span
{
	font-size: 10px;
	text-transform: uppercase;
}
.channel
{
    width: 100%;
	border-left: 1px solid #EBECEB;
	background: #F7F8FA;
	position: relative;
}
.channel li
{
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.channel .channelInfo {
    display: flex;
    flex-direction: column;
}

.channel p
{
    margin: 0px;
    margin-left: 20px;
    display: inline;
    color: #A09F9D;
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
}
.channel ul
{
	margin: 30px;
}
.channel img
{
    position: relative;
    flex: 0;

    height: 30px;
    width: 30px;
    border-radius: 100%;
}
.channel i
{
    flex: 0;
    padding: 2px;
    width: 12px;
    height: 12px;
    color: white;
    margin-top: 10px;
    border-radius: 2px;
    font-size: 10px;
    position: absolute;
    cursor: pointer;
    right: 30px;
}
.knob
{
	background:#42B653;
}
.plus
{
	background: #818B94;
}
.uploads
{
	border-left: 1px solid #EBECEB;
	background: #F7F8FA;
	position: relative;
	border-top: 1px solid #EBECEB;
	margin-right: -271px;
}
.facebook
{
	margin-left: 60px;
}
.facebook:hover
{
	color: #3b5998;
}
.instagram:hover
{
	color: #3f729b;
}
.googleplus:hover
{
	color: #dd4b39;
}
.twitter:hover
{
	color: #55acee;
}
.uploads h1
{
	margin: 30px;
}

.playlist
{
	background: white;
	position: relative;
	padding: 1px 25px;
}
.header
{
	left: 0;
	top: 0;
	width: 100%;
}
.playlist h1
{
	font-size: 14px;
	color: #42B653;
	text-transform: uppercase;
	font-family: Arial;
	font-weight: bold;
	line-height: 3;
}
.playlist input[type=button]
{
	position: relative;
	float: right;
	top: -40px;
	font-size: 10px;
}
.playlist li
{
    display: inline-block;
    margin-top: -15px;

}
.playlist ul
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
